<style>
    .body {
        background: #ff5f6d;
        background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
        background: linear-gradient(to right, #ff5f6d, #ffc371);
        /* min-height: 100vh; */
        margin: 0;
        padding: 0;
    }

    #button-addon1 {
        color: #ffc371;
    }

    i {
        color: #ffc371;
    }

    .form-control::placeholder {
        font-size: 0.95rem;
        color: #aaa;
        font-style: italic;
    }

    .form-control.shadow-0:focus {
        box-shadow: none;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body mb-0 pb-0">
    <div class="container-fluid flex-grow-1 flex-shrink-0">
        <div class="px-lg-5">
            <div class="row py-5">
                <div class="col-lg-12 mx-auto text-white text-center">
                    <h1 class="display-4">Medical Chatbot</h1>
                    <p class="lead mb-0">Chat with our Medical bot and get answers to your medical queries...</p>
                    <p class="lead">Copyright &copy; <a href="/" class="text-white">
                            <u>MediBot</u></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>